// -------------------------------------------------------------------------
#include <windows.h>

//
// Version Information resources
//
LANGUAGE 0, SUBLANG_NEUTRAL
1 VERSIONINFO
	FILEVERSION    1,0,0,0
	PRODUCTVERSION 1,0,0,0
	FILEOS        VOS_NT
	FILETYPE        VFT_DLL
	FILESUBTYPE    VFT2_UNKNOWN
	FILEFLAGSMASK 0x00000000
	FILEFLAGS    0x00000000
{
	BLOCK "StringFileInfo"
	{
		BLOCK "08000025"
		{
			//VALUE "Comments", "Some Comments"
			//VALUE "CompanyName", "My Company"
			VALUE "FileDescription", "System API Dynamic Link Library"
			VALUE "FileVersion", "1.0.0.0"
			//VALUE "InternalName", "My InternalProduct Name"
			VALUE "LegalCopyright", "Copyright 2013 Grebnev Pavel. All Rights Reserved"
			//VALUE "LegalTrademarks", "Some Trademarks"
			VALUE "OriginalFilename", "SystemAPI.dll"
			//VALUE "PrivateBuild", ""
			VALUE "ProductName", "SystemAPI"
			//VALUE "ProductVersion", "1.0.0.0"
			//VALUE "SpecialBuild", ""
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0800, 0x0025
	}
}
// -------------------------------------------------------------------------